.App {
  
}

nav {
  background: #1c1e23;
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav li {
  margin: 0;
  font-weight: bold;
  padding: 0;
}