@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
	flex: 1;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
}

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.flexClear {
	display: block;
	width: 100%;
}

@media only screen and (min-width: 768px) {
	.container {
		max-width: 700px;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		max-width: 980px;
	}
}

@media only screen and (min-width: 1366px) {
	.container {
		max-width: 1200px;
	}
}
