@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.container {
  flex: 1;
  padding: 0 20px;
  width: 100%;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}